body {
    font-family: Arial;
    background-image: url(tlo.jpg);
    color:aliceblue;

}

h2 {
    font-size: 28px;
    margin-left: 5px;
    margin-right: 5px;
}

h1 {
    font-size: 36px;
    margin-left: 5px;
    margin-right: 5px;
}

p {
    font-size: 24px;
    margin-left: 5px;
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: aliceblue;
}

img {
    margin: 10px;
    width: 150px;
    height: 150px;
    float:left;
}


.centered {
    background-color: rgba(0,0,0,0.9);
    height: 1280px;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    
}

.floatfix {
    justify-content: space-around;
    display: flex;
    align-items: flex-start;
    margin: 10px;
    font-size: 20px;


}

.line {
    height: 2px;
    background-color: aliceblue;
}

.napisdb {
    font-family:Georgia, 'Times New Roman', Times, serif
}